@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@200;300;400;500;600&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  }
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.small-container {
  color: #3C5B82;
  max-width: 800px;
  width: 85vw;
  height: 300px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px 4px rgba(3, 21, 86, 0.25);
  padding: 45px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}
.small-container-header {
 font-size: 1.25rem;
 font-weight: 500;
 display: flex;
 align-items: center;
 justify-content: center;
}
.small-container-header i {
  font-size: 2rem;
  padding-right: 15px;
}
.small-container button {
  background-color: #2C66AE;
  border-radius: 15px;
  color: white;
  padding: 11px 20px;
  outline: none;
  border: none;
  font-size: 1.1rem;
  align-self: flex-end;
}
.small-container button:focus,
.small-container button:hover
{
  background-color: #599beb
}
.small-container button:active
{
  background-color: white;
  outline: 2px solid #599beb;
  color: #599beb;
}
input {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  border: 2px solid #2C66AE70;
  outline: none;
  padding-left: 15px;
}
input:focus,
input:hover {
  border: .149rem solid #599beb;
}

body ::-webkit-scrollbar {
  width: 10px;
}

body ::-webkit-scrollbar-thumb {
  background: #2C66AE; 
  border-radius: 100px;
  border: 3px white solid;
  background-clip: padding-box;
}

body ::-webkit-scrollbar-thumb:hover
 {
  background: #599beb; 
}
button:focus {
  outline: none;
  border: none;
}
.underline {
  width: 577px;
  height: 3px;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
margin-bottom: 30px;
}
p {
  font-size: 1.18rem;
}
button {
  cursor: pointer;
}