@import 'react-big-calendar/lib/sass/styles';

.calendar-container {
  height: 815px;
  min-height: 600px;
  overflow-y: auto;
  width: 95vw;
  max-width: 1200px;
  margin-top: 170px;  
  color: #3C5B82;
}

.rbc-today {
  background-color:hsl(213, 100%, 90%);
}
.rbc-event {
  background-color: #456ec7;
  min-height: 20px;
  height: auto;
  overflow: visible;
  white-space: normal;
}
.rbc-agenda-date-cell {
  background-color: white;
}
.rbc-agenda-table thead th:nth-child(2),
.rbc-agenda-table .rbc-agenda-time-cell,
.rbc-btn-group:last-of-type button:nth-child(2),
.rbc-btn-group:last-of-type button:nth-child(3),
.rbc-time-content,
.rbc-label.rbc-time-header-gutter
{
  display: none;
  visibility: hidden;
}
.rbc-time-view .rbc-event-content{
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-left: 10px;
  font-size: .95rem !important;
}

.rbc-row-segment .rbc-event-content{
  font-size: .85rem;
}

.rbc-header {
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-transform: uppercase;
  font-weight: 300;
}

.rbc-toolbar .rbc-toolbar-label {
  font-size: 1.3rem;
  font-weight: 400;
}
.rbc-off-range-bg{
  background-color: rgb(230, 230, 237);
}

.rbc-toolbar button {
  background-color: #2C66AE;
  border-radius: 12px;
  border: none;
  margin: 5px;
  color: white;
  font-size: 1rem;
  padding: 8px 16px;
}
.rbc-btn-group > button:first-child:not(:last-child){
  margin-left: 0;
}
.rbc-btn-group > button:last-child:not(:first-child) {
  margin-right: 0;
}

.rbc-toolbar button:active, 
.rbc-toolbar button.rbc-active{
  background-color: #599beb; 
  color: white;
}
.rbc-toolbar button:active:hover, 
.rbc-toolbar button:active:focus, 
.rbc-toolbar button.rbc-active:hover, 
.rbc-toolbar button.rbc-active:focus {
  background-color: #599beb;
  color: white;
}
.rbc-toolbar button:hover,
.rbc-toolbar button:active,
.rbc-toolbar button:focus
 {
  background-color: #599beb;
  color: white;
}
.rbc-agenda-event-cell{
  color: white;
}
.rbc-button-link {
  font-size: 1rem;
}

.rbc-row-content {
  overflow-y: auto;
}
.rbc-show-more {
  font-size: .9rem;
}
.rbc-button-link:focus {
  border-radius: 50%;
  min-width: 25px;
  min-height: 25px;
  color: white;
  background-color: #599beb;
  padding-left: 4px;
  padding-right: 4px;
}
.rbc-show-more:focus {
  border-radius: 5px;
}
