.footer {
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    z-index: -1;
    width: 100%;

}

.footer-background {
    max-width: 100%;
    width: 100vw;
    min-height: 600px;
    background-image : url(".././img/Vector 1.png");
    background-repeat: repeat-x;   
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100vw 600px; 
}
.footer-background > div {
    width: 95vw;
    max-width: 1200px;
    padding-top: 365px;
}
.footer-background img {
    width: 230px;
    height:auto;
}