.text-header i {
    font-size: 3rem;
}
.link-container {
    background-color: white;
    color: #2E4867;
    width: 100%;
    padding: 8px 10px;
    margin: 20px 0;
    max-height: 90px;
    min-height: 26.4px;
    overflow-y: scroll;
    font-size: 1.1rem;
    border-radius: 5px;
}
.link-container:last-of-type {
    margin-bottom: 14px;
}
.link-container li {
    list-style: none;
}
.link-container-inactive {
    color: rgb(46, 72, 103, .6);
    user-select: none;
}